{{#unless this.site.mobileView}}
    <aside class="haffax7-right-sidebar-target custom-right-sidebar">
      <h3>RECENT COMMENTS</h3>
      <ul>
        <li>데스크탑 전용 레이아웃 활성화</li>
        <li>글 리스트 페이지에서만 출력</li>
        <li>실시간 데이터 로드 대기 중...</li>
      </ul>
    </aside>
{{/unless}}
