<div class="haffax7-right-sidebar-target">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>푸터(Powered by) 위치 교정 완료</li>
            <li>3단 레이아웃 중앙 정렬 최적화</li>
            <li>데이터 연동 모듈 로드 준비 완료</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
