<div class="haffax7-right-sidebar-target">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>헤더-본문 고정 너비 정렬 완료</li>
            <li>3단 그리드 좌표 최종 교정</li>
            <li>실시간 데이터 연동 준비 완료</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
