<div class="haffax7-right-sidebar-target">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>그리드 시스템 강제 편입 완료</li>
            <li>데이터 연동 모듈 대기 중...</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
