<div class="haffax7-right-sidebar-target">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>중앙 정렬 레이아웃 적용 완료</li>
            <li>실시간 데이터 로딩 대기 중...</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
