<div class="haffax7-right-sidebar-target">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>헤더 양끝 정렬 복구 완료</li>
            <li>3단 콘텐츠 그룹 정중앙 배치 완료</li>
            <li>실시간 데이터 연동 준비 중...</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
