<aside class="custom-right-sidebar">
  <section class="recent-comments-widget">
    <h3 class="widget-title">RECENT COMMENTS</h3>
    <div id="custom-recent-comments">
      <ul>
          <li>최신 표준에 맞춰 사이드바가 재구성되었습니다.</li>
      </ul>
    </div>
  </section>
</aside>
