<div class="haffax7-custom-sidebar-container">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>데이터 로딩 시스템 최적화 완료</li>
            <li>3단 레이아웃 적용 중...</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
