<div class="haffax7-custom-sidebar-container">
  <aside class="custom-right-sidebar">
    <section class="recent-comments-widget">
      <h3 class="widget-title">RECENT COMMENTS</h3>
      <div id="custom-recent-comments">
        <ul class="recent-comments-list">
            <li>레이아웃 최종 좌표 교정 완료</li>
            <li>실시간 데이터 연동 테스트 중...</li>
        </ul>
      </div>
    </section>
  </aside>
</div>
